{% extends 'navbar.html' %}

{% block container %}
<div>
    <div class="container">

        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="rolename">武将名称</label>
                <input type="text" class="form-control" id="rolename" name="rolename">
            </div>
            <button type="submit" class="btn btn-primary">提 交</button>
            <a type="button" class="btn btn-danger float-right" href="/sgs/role">返回</a>
        </form>

    </div>
</div>

{% endblock %}