

{% extends 'navbar.html' %}

{% block container %}
    <div>
        <div class="container">
            <div class="row">
                <button href="#" class="btn btn-primary btn-lg active col" role="button" id="button2"
                        onclick="toggleColor('button2')">杀
                </button>
                <a class="invisible">\t</a>
                <button href="#" class="btn btn-primary btn-lg active col" role="button" id="button3"
                        onclick="toggleColor('button3')">火杀
                </button>
                <a class="invisible">\t</a>
                <button href="#" class="btn btn-primary btn-lg active col" role="button" id="button4"
                        onclick="toggleColor('button4')">雷杀
                </button>
                <a class="invisible">\t</a>
                <button href="#" class="btn btn-primary btn-lg active col" role="button" id="button5"
                        onclick="toggleColor('button5')">闪
                </button>
                <a class="invisible">\t</a>
                <button href="#" class="btn btn-primary btn-lg active col" role="button" id="button6"
                        onclick="toggleColor('button6')">桃
                </button>
                <a class="invisible">\t</a>
                <button href="#" class="btn btn-primary btn-lg active col" role="button" id="button7"
                        onclick="toggleColor('button7')">酒
                </button>
                <a class="invisible">\t</a>
            </div>
            <div class="row"><a class="invisible">\t</a></div>
            <div class="row">
                <button href="#" class="btn btn-primary btn-lg active col" role="button" id="button8"
                        onclick="toggleColor('button8')">兵粮寸断
                </button>
                <a class="invisible">\t</a>
                <button href="#" class="btn btn-primary btn-lg active col" role="button" id="button9"
                        onclick="toggleColor('button9')">乐不思蜀
                </button>
                <a class="invisible">\t</a>
                <button href="#" class="btn btn-primary btn-lg active col" role="button" id="button10"
                        onclick="toggleColor('button10')">闪电
                </button>
                <a class="invisible">\t</a>
                <button href="#" class="btn btn-primary btn-lg active col" role="button" id="button11"
                        onclick="toggleColor('button11')">南蛮入侵
                </button>
                <a class="invisible">\t</a>
                <button href="#" class="btn btn-primary btn-lg active col" role="button" id="button12"
                        onclick="toggleColor('button12')">万箭齐发
                </button>
                <a class="invisible">\t</a>
                <button href="#" class="btn btn-primary btn-lg active col" role="button" id="button13"
                        onclick="toggleColor('button13')">五谷丰登
                </button>
                <a class="invisible">\t</a>
                <button href="#" class="btn btn-primary btn-lg active col" role="button" id="button14"
                        onclick="toggleColor('button14')">桃园结义
                </button>
                <a class="invisible">\t</a>
            </div>
            <div class="row"><a class="invisible">\t</a></div>
            <div class="row">
                <button href="#" class="btn btn-primary btn-lg active col" role="button" id="button15"
                        onclick="toggleColor('button15')">铁锁连环
                </button>
                <a class="invisible">\t</a>
                <button href="#" class="btn btn-primary btn-lg active col" role="button" id="button16"
                        onclick="toggleColor('button16')">决斗
                </button>
                <a class="invisible">\t</a>
                <button href="#" class="btn btn-primary btn-lg active col" role="button" id="button17"
                        onclick="toggleColor('button17')">借刀杀人
                </button>
                <a class="invisible">\t</a>
                <button href="#" class="btn btn-primary btn-lg active col" role="button" id="button18"
                        onclick="toggleColor('button18')">火攻
                </button>
                <a class="invisible">\t</a>
                <button href="#" class="btn btn-primary btn-lg active col" role="button" id="button19"
                        onclick="toggleColor('button19')">过河拆桥
                </button>
                <a class="invisible">\t</a>
                <button href="#" class="btn btn-primary btn-lg active col" role="button" id="button20"
                        onclick="toggleColor('button20')">顺手牵羊
                </button>
                <a class="invisible">\t</a>
                <button href="#" class="btn btn-primary btn-lg active col" role="button" id="button21"
                        onclick="toggleColor('button21')">无中生有
                </button>
                <a class="invisible">\t</a>
                <button href="#" class="btn btn-primary btn-lg active col" role="button" id="button22"
                        onclick="toggleColor('button22')">无懈可击
                </button>
            </div>
            <a class="invisible">\t</a>
            <div class="row">

                <button href="#" class="btn btn-primary btn-lg active col" role="button" id="button23"
                        onclick="toggleColor('button23')">基本牌
                </button>
                <a class="invisible">\t</a>
                <button href="#" class="btn btn-primary btn-lg active col" role="button" id="button24"
                        onclick="toggleColor('button24')">锦囊牌
                </button>
                <a class="invisible">\t</a>
                <button href="#" class="btn btn-primary btn-lg active col" role="button" id="button25"
                        onclick="toggleColor('button25')">装备牌
                </button>
            </div>

            <a class="invisible">\t</a>
            <div class="row">

                <button href="#" class="btn btn-primary btn-lg active col" role="button" id="button26"
                        onclick="toggleColor('button26')">红桃
                </button>
                <a class="invisible">\t</a>
                <button href="#" class="btn btn-primary btn-lg active col" role="button" id="button27"
                        onclick="toggleColor('button27')">方块
                </button>
                <a class="invisible">\t</a>
                <button href="#" class="btn btn-primary btn-lg active col" role="button" id="button28"
                        onclick="toggleColor('button28')">黑桃
                </button>
                <a class="invisible">\t</a>
                <button href="#" class="btn btn-primary btn-lg active col" role="button" id="button29"
                        onclick="toggleColor('button29')">草花
                </button>
            </div>


            <div class="row"><a class="invisible">\t</a></div>

            <a href="/sgs/faceas" class="btn btn-danger float-right">返回</a>
        </div>


    </div>



    <script>
        function toggleColor(buttonId) {
            var button = document.getElementById(buttonId);

            // 获取当前按钮的颜色
            var currentColor = button.style.backgroundColor || getComputedStyle(button).backgroundColor;

            button.style.backgroundColor = (currentColor === "rgb(0, 105, 217)") ? 'gray' : "rgb(0, 105, 217)";
        }
    </script>

{% endblock %}
