

{% extends 'navbar.html' %}

{% block container %}
    <div class="container" id='con'>

        <div>
            <label for="inputX">输入一共多少人：</label>
            <input type="number" id="inputX" min="1" value="{{ tabledata.playernum }}">
            <a class="btn btn-primary" id="Sure" onclick=changenum()>确定</a>
            <a class="btn btn-primary" id="Sure" href="/sgs/tables/update?player_num={{ tabledata.playernum }}&player_states={{ tabledata.player_states }}&tableid={{ tabledata.id}}">更新</a>

            <a class="btn btn-danger" href="/sgs/tables"> 返回</a>
        </div>
        <div>
            <label for="inputX">输入你的座位号进行幻化之战随机：</label>
            <input type="number" id="inputY" min="1" value="0">
            <a class="btn btn-primary" id="randhh" onclick="randh()">确定</a>
{#            <a class="btn btn-danger" href="/sgs/tables"> 返回</a>#}
        </div>

    <div class="circle-container" id="circleContainer"></div>
    </div>
    <script>
        const container = document.getElementById('con');
        const containerWidth = container.clientWidth;
        const containerHeight = container.clientHeight;
        var player_states = {{ tabledata.player_states }}

        function toggleColor(buttonId) {
            var button = document.getElementById(buttonId);
            {#print(buttonId)#}
            // 获取当前按钮的颜色
            var currentColor = button.style.backgroundColor || getComputedStyle(button).backgroundColor;
            button.style.backgroundColor = (currentColor === "rgb(108, 117, 125)") ? 'rgb(0, 105, 217)' : "rgb(108, 117, 125)";
            player_states ^= (1 << (parseInt(button.id)))
        }

        function generateButtons() {
            const x = parseInt(document.getElementById('inputX').value);
            {#const y = parseInt(document.getElementById('nowX').value);#}
            const circleContainer = document.getElementById('circleContainer');
            circleContainer.innerHTML = '';

            const radius = Math.sqrt(containerHeight * containerHeight + containerWidth * containerWidth) / 8; // 环的半径
            const centerX = containerWidth / 2; // 圆心 x 坐标
            const centerY = containerHeight / 2 + 200; // 圆心 y 坐标

            for (let i = 0; i < x; i++) {
                const angle = (i / x) * 2 * Math.PI; // 计算每个按钮的角度
                const button = document.createElement('div');
                button.className = 'btn btn-primary circle-button';
                if (!((parseInt({{tabledata.player_states}})>>i) &1) ){
                    button.style.backgroundColor ='rgb(108, 117, 125)'
                }
                button.id = i
                button.onclick = function () {
                    toggleColor(button.id);
                };
                button.style.left = centerX + radius * Math.sin(angle) - 20 + 'px';
                button.style.top = centerY + radius * Math.cos(angle) - 20 + 'px';
                button.textContent = (i) % x + 1;
                circleContainer.appendChild(button);
            }
        }
        generateButtons()
        function changenum() {
            // 获取链接元素
            const x = parseInt(document.getElementById('inputX').value);
            var button = document.getElementById("Sure");
            // 更新链接的href属性
            if (x !== {{ tabledata.playernum }}) {
                var playerstates = (1 << x) - 1
                button.href = "/sgs/tables/edittable?player_num=" + x + "&player_states=" + playerstates + "&tableid={{ tabledata.id}}";
            }
            else{
                button.href = "/sgs/tables/edittable?player_num=" + x + "&player_states=" + player_states + "&tableid={{ tabledata.id}}";
            }
        }

        function randh() {
            const y = parseInt(document.getElementById('inputY').value);
            if ({{ proatk }}[0].includes(y) || {{ proatk }}[0].length>=4) {
                var tt={{proatk}}[0].indexOf(y);
                alert({{proatk}}[0][tt]+"号位置 保护"+{{proatk}}[1][tt]+"号;攻击"+{{proatk}}[2][tt]+"号");
            }
            else {
                alert("输入有误,请重新输入！");
            }
        }
    </script>





{% endblock %}
