

{% extends 'navbar.html' %}



{% block container %}
    <div>
        <div class="container">
            <div class="row">
                <div class="card col-sm" style="width: 18rem;">
                    {#        <img src="..." class="card-img-top" alt="...">#}
                    <div class="card-body">
                        <h5 class="card-title">记卡器</h5>
                        <p class="card-text">可以用于张让的滔乱,陈昱的设伏,曹节的守玺等等,以及(秘密)声明牌或牌的类型,牌的花色.如张琪瑛的四个标记,董昭的先略,</p>
                        <a href="faceas/cardrecord" class="btn btn-primary">详情</a>
                    </div>
                </div>

                <div class="card col-sm" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">记牌器</h5>
                        <p class="card-text">用来记录出来多少牌以及武器,可以记录牌堆点数(7的个数,8的个数也可以手动记录),也可以为晋周处,曹金玉等等的技能记录点数</p>
                        <a href="faceas/cardrecords" class="btn btn-primary">详情</a>
                    </div>
                </div>


            </div>
            <div class="row">
                <div class="card col-sm" style="width: 18rem;">
                    {#        <img src="..." class="card-img-top" alt="...">#}
                    <div class="card-body">
                        <h5 class="card-title">随机数+谋弈</h5>
                        <p class="card-text">可以用来进行简单的随机:如徐荣的凶镬,李傕的狼袭等等 谋攻篇专属谋弈</p>
                        <a href="faceas/randomnum" class="btn btn-primary">详情</a>
                    </div>
                </div>

                <div class="card col-sm" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">标记</h5>
                        <p class="card-text">记录几号位是否有某个标记,如女王的蚕蚀,神诸葛的大雾,陆绩的橘子,董昭的造王,戏子的先辅</p>
                        <a href="faceas/playersit" class="btn btn-primary">详情</a>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="card col-sm" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">特殊武将技</h5>
                        <p class="card-text">目前包含武将:许劭,族荀攸</p>
                        <a href="faceas/roleskills" class="btn btn-primary">详情</a>
                    </div>
                </div>

            </div>
            <a href="/sgs" class="btn btn-danger float-right">返回</a>
        </div>

    </div>

{% endblock %}
