

{% extends 'navbar.html' %}

{% block container %}
    <div>
        <div class="container">
            <div class="row">
                <div class="card col-sm" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">许劭</h5>
                        <p class="card-text">十周年版本,评鉴技能库包含三服。</p>
                        <a href="roleskills/xushao" class="btn btn-primary">详情</a>
                    </div>
                </div>

                <div class="card col-sm" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">族荀攸</h5>
                        <p class="card-text">百出</p>
                        <a href="roleskills/zuxunyou" class="btn btn-primary">详情</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card col-sm" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">曹羲(玄蝶版)</h5>
                        <p class="card-text">谏旋</p>
                        <a href="roleskills/caoxi" class="btn btn-primary">详情</a>
                    </div>
                </div>

                <div class="card col-sm" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">钟琰</h5>
                        <p class="card-text">博览</p>
                        <a href="roleskills/zhongyan" class="btn btn-primary">详情</a>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="card col-sm" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">神吴懿</h5>
                        <p class="card-text">吴懿不在此地</p>
                        <a href="roleskills/wuyi" class="btn btn-primary">详情</a>
                    </div>
                </div>



            </div>
{##}
{#            <div class="row">#}
{#                <div class="card col-sm" style="width: 18rem;">#}
{#                    <div class="card-body">#}
{#                        <h5 class="card-title">神典韦</h5>#}
{#                        <p class="card-text"></p>#}
{#                        <a href="#" class="btn btn-primary">详情</a>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div class="card col-sm" style="width: 18rem;">#}
{#                    <div class="card-body">#}
{#                        <h5 class="card-title">~</h5>#}
{#                        <p class="card-text">~</p>#}
{#                        <a href="faceas/roleskills" class="btn btn-primary">详情</a>#}
{#                    </div>#}
{#                </div>#}
            <a href="/sgs" class="btn btn-danger float-right">返回</a>

            </div>
        </div>

    </div>

{% endblock %}
