{% extends 'navbar.html' %}

{% block container %}
<div>
    <div class="container">
        <div class="row">
        <div class="list-group-item col"><a type="button" class="btn btn-success " href="/sgs/addset">添加武将集合</a></div>
        </div>
        {% for obj in allset %}
            {% if not forloop.counter|divisibleby:2 %}
                    <div class="row">
                     <div class="card col" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{ obj.setname }}</h5>
                            <p class="card-text">{{ obj.introduction }}</p>
                            <a href="/sgs/editroleset?rolesetid={{ obj.id }}" class="btn btn-primary">编辑</a>
                            <a href="/sgs/randroleset?rolesetid={{ obj.id }}&randnum=0" class="btn btn-primary">随机</a>
                            <a href="delset?setid={{ obj.id }}" class="btn btn-danger float-right">删除</a>

                        </div>
                    </div>
                    {% else %}
                    <div class="card col" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{ obj.setname }}</h5>
                            <p class="card-text">{{ obj.introduction }}</p>
                            <a href="/sgs/editroleset?rolesetid={{ obj.id }}" class="btn btn-primary">编辑</a>
                            <a href="/sgs/randroleset?rolesetid={{ obj.id }}&randnum=0" class="btn btn-primary">随机</a>
                            <a href="delset?setid={{ obj.id }}" class="btn btn-danger float-right">删除</a>

                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        <a type="button" class="btn btn-danger float-right" href="/sgs">返回</a>

    </div>
</div>

{% endblock %}