{% extends 'navbar.html' %}

{% block container %}

<div>

    <div class="container">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">武将名称</th>
                    <th scope="col">所属服务器</th>
                    <th scope="col">详情</th>
                    <th scope="col">详情</th>
                </tr>
                </thead>

                <tbody>
                {% for obj in allrole %}
                <tr>
                    <td width="30%">{{ obj.skill_belong }}</td>
                    <td width="40%">{{ obj.merged_col2_list }}</td>
                    <td width="40%">{{ obj.tim }}</td>
                    <td width="40%"><a class=" btn btn-primary">详情</a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
    <a type="button" class="btn btn-danger float-right" href="/sgs">返回</a>

    </div>


</div>
{% endblock %}