{% extends 'navbar.html' %}

{% block container %}

<div>

    <div class="container">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">武将名称</th>
                    <th scope="col">所属服务器</th>
                    <th scope="col">势力</th>
                    <th scope="col">性别</th>
                    <th scope="col">详情</th>
                </tr>
                </thead>

                <tbody>
                {% for obj in allrole %}
                <tr>
                    <td width="20%">{{ obj.rolename }}</td>
                    <td width="20%">{{ obj.roleserver }}</td>
                    <td width="20%">{{ obj.rolecountry }}</td>
                    <td width="20%">{{ obj.rolegender }}</td>
                    <td width="20%"><a class=" btn btn-primary" href="./role/role_detail?name={{ obj.0 }}&ser={{ obj.1 }}">详情</a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
    <a type="button" class="btn btn-danger float-right" href="/sgs">返回</a>

    </div>


</div>
{% endblock %}