

{% extends 'navbar.html' %}

{% block container %}
<div>
    <div class="container">
        <div class="row">
            <div class="card col-sm" style="width: 18rem;">
                {#        <img src="..." class="card-img-top" alt="...">#}
                <div class="card-body">
                    <h5 class="card-title">查看现有武将</h5>
                    <p class="card-text">查看现有武将</p>
                    <a href="role" class="btn btn-primary">详情</a>
                </div>
            </div>

            <div class="card col-sm" style="width: 18rem;">
                {#        <img src="..." class="card-img-top" alt="...">#}
                <div class="card-body">
                    <h5 class="card-title">添加武将</h5>
                    <p class="card-text">添加武将</p>
                    <a href="add" class="btn btn-primary">详情</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card col-sm" style="width: 18rem;">
                {#        <img src="..." class="card-img-top" alt="...">#}
                <div class="card-body">
                    <h5 class="card-title">添加武将集</h5>
                    <p class="card-text">添加武将集合</p>
                    <a href="addset" class="btn btn-primary">详情</a>
                </div>
            </div>

            <div class="card col-sm" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">随机武将</h5>
                    <p class="card-text">从武将集合中随机武将</p>
                    <a href="roleset" class="btn btn-primary">详情</a>
                </div>
            </div>

        </div>


    </div>
</div>

{% endblock %}
