

{% extends 'navbar.html' %}

{% block container %}
    <div>
        <div class="container">
            <div class="row">
                <div class="card col-sm" style="width: 18rem;">
                    {#        <img src="..." class="card-img-top" alt="...">#}
                    <div class="card-body">
                        <h5 class="card-title">查看武将</h5>
                        <p class="card-text">查看现有武将</p>
                        <a href="role" class="btn btn-primary">详情</a>
                    </div>
                </div>

                <div class="card col-sm" style="width: 18rem;">
                    {#        <img src="..." class="card-img-top" alt="...">#}
                    <div class="card-body">
                        <h5 class="card-title">武将集合</h5>
                        <p class="card-text">查看武将集合</p>
                        <a href="roleset" class="btn btn-primary">详情</a>
                    </div>
                </div>


            </div>
            <div class="row">
                <div class="card col-sm" style="width: 18rem;">
                    {#        <img src="..." class="card-img-top" alt="...">#}
                    <div class="card-body">
                        <h5 class="card-title">面杀工具</h5>
                        <p class="card-text">一些面杀所需要的功能</p>
                        <a href="faceas" class="btn btn-primary">详情</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
