

{% extends 'navbar.html' %}

{% block container %}
    <div class="container">
    <a type="button" class="btn btn-primary " href="?tag=1">出牌阶段</a>
    <a type="button" class="btn btn-primary " href="?tag=2">结束阶段</a>
    <a type="button" class="btn btn-primary " href="?tag=3">受到伤害</a>
    </div>

    <div>
        <div class="container">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">技能名称</th>
                    <th scope="col">所属武将</th>
{#                    <th scope="col">技能类型</th>#}
                    <th scope="col">所属服务器</th>
                    <th scope="col">技能描述</th>
                </tr>
                </thead>

                <tbody>
                {% for obj in allskills %}
                <tr>
{#                    <th scope="row"></th>#}
                    <td width="10%">{{ obj.skill_name }}</td>
                    <td width="10%">{{ obj.skill_belong }}</td>
{#                    <td width="10%">{{ obj.skill_type }}</td>#}

                    <td width="10%">{{ obj.skill_server }}</td>
                    <td width="60%">{{ obj.skill_detail }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>

            {#                        <a type="button" class="btn btn-danger float-right" href="">删除</a>#}
            {#                        <a type="button" class="btn btn-primary float-right">编辑</a>#}

            <a type="button" class="btn btn-danger float-right" href="/sgs">返回</a>
{#            <a type="button" class="btn btn-success float-right" href="/sgs/skills/refreshskills">刷新</a>#}

        </div>


    </div>

{% endblock %}
